{% extends 'base.html'%}

{% block style%}
<link rel="stylesheet" href="static/feed_css.css">
{% endblock %}


{% block title%}Feed{% endblock %}


{% block body%}

    {% for post in all_posts %}
    <div align="center">
        <div class="card shadow p-3 mb-5 bg-white rounded postBG">
            <div class="card-body text-center" align="left">
                <h4 class="card-title">{{ post.post_title }}</h4>
                <h5 class="card-subtitle mb-2 text-muted">{{ post.post_date }}</h5>
                <p class="card-text">{{ post.post_content }}</p>
                <div class="d-flex justify-content-around">
                    <form method="post">
                        <button name="favbtn" value = {{ post.post_id }} class="btn btn-white btn-xs">Favorite <i class="fa-solid fa-heart"></i></button>
                        <button name="seeMore" class="btn btn-white btn-xs" value={{ post.post_id }}>See More <i class="fa-solid fa-angles-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}