{% extends 'base.html' %}

{% block title%}Home{% endblock %}

{% block body%}
<div align="left">
    <h1>welcome to seQRet</h1>
</div>
<form method="POST">
    <div align="center">
        <input type="text" name="post_title" id="post_title" placeholder="Enter a title:">
    </div>
    <div align="center">
        <textarea name="post_content" id="post_content" cols="90" rows="10"></textarea>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">Share</button>
    </div>
</form>
{% endblock %}