{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="static/profile_css.css">
{% endblock %}

{% block title %}
Profile
{% endblock %}


{% block body%}
<div class="d-flex flex-row justify-content-around">
    <div>
        <h2 class="mb-4">My Posts</h2>
        {% for post in posts %}
        <div align="left">
            <div class="card shadow p-3 mb-5 bg-white rounded postBG">
                <div class="card-body" align="left">
                    <h4 class="card-title">{{ post.post_title }}</h4>
                    <h5 class="card-subtitle mb-2 text-muted">{{ post.post_date }}</h5>
                    <p class="card-text">{{ post.post_content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <h2 class="mb-4">My Favorites</h2>
        {% for favorite in favorites %}
        <div align="left">
            <div class="card shadow p-3 mb-5 bg-white rounded postBG">
                <div class="card-body" align="left">
                    <h4 class="card-title">{{ favorite.post_title }}</h4>
                    <h5 class="card-subtitle mb-2 text-muted">{{ favorite.post_date }}</h5>
                    <p class="card-text">{{ favorite.post_content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}