*{
    font-family: bahnschrift light;
}
body{
    background-image: linear-gradient(to right,#d9eff8, #b9ebff);
}

#welcome{
    color: #e2e2e2;
}

button:hover,
    a:hover{
    transform: scale(1.05);
}

img{
    height: 5rem;
    width: 5rem;
}