*{
    font-family: bahnschrift light;
}
body{
    background-image: linear-gradient(to right,#d9eff8, #b9ebff);
}

.nav-item{
    color: #e2e2e2;
}

button:hover,
    a:hover{
    transform: scale(1.05);
}
a:hover{
    color: #e2e2e2;
}

#navLogo{
    height: 3.7rem;
    width: 3.4rem;    
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    position: absolute;
  }

  @media screen and (max-width: 410px){
    #navLogo{
        display: none;
    }

}