.postBG{
    background-image: linear-gradient(to left,#e2e2e2, #c5c5c5);
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 20;
}

.profileTab{
    font-size: 2rem;
    color: rgb(100, 98, 98);
}

.profileTab:hover{
    color: #568EA3;
}